*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    padding-top: 20px;
    background-color: rgb(0, 128, 85);
    height: 100vh;
    /* text-align: center; */
    color: aliceblue;
    border-radius: 5px;
    width: 50%;
}
.container h1{
    color: greenyellow;
    text-align: center;
    margin-bottom: 20px;
}
.form-section h5{
    margin-top: 5px;
}
.form-section input{
    border-radius: 5px;
}
.form-section button{
    background-color: orangered;
    width: 20%;
    border-radius: 5px;
    color: white;
}